body {
    background: beige;
}
h1 {
    color: black;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 20px;
}
p {
    color: black;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 14px;
}